.group-list::-webkit-scrollbar-track {		
    border-radius: 5px;
    background-color: #101317;
    opacity: 0.25;
}

.group-list::-webkit-scrollbar {
    border-radius: 5px;
	width: 12px;
	background-color: transparent;
}

.group-list::-webkit-scrollbar-thumb {	
    border-radius: 5px;
    background-color: $color-secondary-variant;
    opacity: 0.75;
}

.group-list{
    direction: rtl;
    overflow-y: scroll;
    height: 70vh;
    scrollbar-color: $color-secondary-variant #101317;
}

.group{
    direction: ltr;
}
